<!DOCTYPE html>
<html lang="en" style="background: linear-gradient(2deg, white, rgb(14,47,8) 34%);">
    <%- include('./partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100" style="margin-bottom: 0px;background: linear-gradient(0deg, #093824 34%, white 100%);width: 100%;height: 100%;">
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5" style="background: rgba(244,247,245,0.78);min-height: 525px;margin: 20px 0 0; border-radius: 10px;border-style: solid;border-color: rgb(147,147,147);">
                <div class="card"></div><img class="rounded-circle img-fluid" id="avatarId" src="img/placeholderphoto.png" style="width: 125px;height: 125px;margin-bottom: 20px;" alt="placeholder avatar">
                <h2 class="display-6 justify-content-center" id="studentName"><%= user.firstName %> <%= user.lastName %> </h2>
                <h5 class="text-muted d-inline-block mb-2" id="options"><%= user.options %></h5>
                <div class="card"><% if (user.options == 'student') { %>
                    <div class="card-body">
                        <h5 class="justify-content-start flex-nowrap">Enrollment Status: <%= user.enrollment %></h5>
                        <h5>Academic Standing: <%= user.academic %></h5>
                        <h5>Financial Aid Standing: <%= user.financialaid %></h5>
                    </div><% } %>
                </div>
                
                <figure class="figure"><img class="img-fluid figure-img" src="img/editclass.png" width="64px" height="64px" style="margin-top: 20px;margin-right: 20px;">
                    <figcaption class="figure-caption text-center" style="text-align: left;">Edit<br>Courses</figcaption>
                </figure>
                <figure class="figure"><img class="img-fluid figure-img" src="img/icons8-dollar-98.png" width="64px" height="64px" style="margin-right: 20px;margin-left: 20px;">
                    <figcaption class="figure-caption text-center">Financial<br>Aid</figcaption>
                </figure>
                <figure class="figure"><img class="img-fluid figure-img" src="img/icons8-send-email-100.png" width="64px" height="64px" style="margin-left: 20px;">
                    <figcaption class="figure-caption text-center">Email<br>Advisor</figcaption>
                </figure>
            </div>
            <div class="col-md-7" style="background: rgba(244,247,245,0.78);min-height: 525px;margin: 20px 0 0;border-radius: 10px;border-style: solid;border-color: rgb(147,147,147);">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Fall 2021</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Spring 2022</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Summer 2022</a></li>
                    </ul>
                    <div class="tab-content" style="overflow-y: auto;" >
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                                    <% if (user.courses.length > 0) { %>
                                        <% user.courses.forEach(course => { %>
                            <div class="card" style="height: 125px;margin-top: 10px;">
                                <div class="card-body flex-shrink-1" style="width: 300p;height: 100px;">
                                    <h4 class="card-title"><% user.course.title %></h4>
                                    <h6 class="text-muted card-subtitle mb-2"><img class="flex-row-reverse" src="img/icons8-send-email-100.png" width="30px" height="30px" alt="email" style="padding-right: 4px;"><% user.course.teacher %></h6>
                                    <p class="card-text"><% user.course.description %></p>
                                </div>
                            </div>
                                    <% }) %>
                                    <% } else { %>
                                    <h4 class="card-title center">You don't have any classes added.</h4>
                                    <% } %> 
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <div class="card" style="height: 125px;margin-top: 10px;">
                                <div class="card-body flex-shrink-1" style="width: 300p;height: 100px;">
                                    <h4 class="card-title">SDEV 250--Client Side Scripting</h4>
                                    <h6 class="text-muted card-subtitle mb-2"><img class="flex-row-reverse" src="img/icons8-send-email-100.png" width="30px" height="30px" alt="email" style="padding-right: 4px;">Professor Sullens</h6>
                                    <p class="card-text">MWF 2pm-6pm</p>
                                </div>
                            </div>
                            <div class="card" style="height: 125px;margin-top: 8px;">
                                <div class="card-body flex-shrink-1" style="width: 300p;height: 100px;">
                                    <h4 class="card-title" id="classOne-2">SDEV 250--Client Side Scripting</h4>
                                    <h6 class="text-muted card-subtitle mb-2" id="professorOne-2"><img class="flex-row-reverse" src="img/icons8-send-email-100.png" width="30px" height="30px" alt="email" style="padding-right: 4px;">Professor Sullens</h6>
                                    <p class="card-text" id="classOneTime-2">MWF 2pm-6pm</p>
                                </div>
                            </div>
                            <div class="card" style="height: 125px;margin-top: 8px;">
                                <div class="card-body flex-shrink-1" style="width: 300p;height: 100px;">
                                    <h4 class="card-title" id="classOne-3">SDEV 250--Client Side Scripting</h4>
                                    <h6 class="text-muted card-subtitle mb-2" id="professorOne-3"><img class="flex-row-reverse" src="img/icons8-send-email-100.png" width="30px" height="30px" alt="email" style="padding-right: 4px;">Professor Sullens</h6>
                                    <p class="card-text" id="classOneTime-3">MWF 2pm-6pm</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <div class="card" style="height: 125px;margin-top: 10px;">
                                <div class="card-body flex-shrink-1" style="width: 300p;height: 100px;">
                                    <h4 class="card-title">SDEV 250--Client Side Scripting</h4>
                                    <h6 class="text-muted card-subtitle mb-2"><img class="flex-row-reverse" src="img/icons8-send-email-100.png" width="30px" height="30px" alt="email" style="padding-right: 4px;">Professor Sullens</h6>
                                    <p class="card-text">MWF 2pm-6pm</p>
                                </div>
                            </div>
                            <div class="card" style="height: 125px;margin-top: 8px;">
                                <div class="card-body flex-shrink-1" style="width: 300p;height: 100px;">
                                    <h4 class="card-title" id="classOne-4">SDEV 250--Client Side Scripting</h4>
                                    <h6 class="text-muted card-subtitle mb-2" id="professorOne-4"><img class="flex-row-reverse" src="img/icons8-send-email-100.png" width="30px" height="30px" alt="email" style="padding-right: 4px;">Professor Sullens</h6>
                                    <p class="card-text" id="classOneTime-4">MWF 2pm-6pm</p>
                                </div>
                            </div>
                            <div class="card" style="height: 125px;margin-top: 8px;">
                                <div class="card-body flex-shrink-1" style="width: 300p;height: 100px;">
                                    <h4 class="card-title" id="classOne-5">SDEV 250--Client Side Scripting</h4>
                                    <h6 class="text-muted card-subtitle mb-2" id="professorOne-5"><img class="flex-row-reverse" src="img/icons8-send-email-100.png" width="30px" height="30px" alt="email" style="padding-right: 4px;">Professor Sullens</h6>
                                    <p class="card-text" id="classOneTime-5">MWF 2pm-6pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/bootstrap.min.js"/></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>